.mx-input {
    text-align: center !important;
}
.hide.mx-icon-calendar {
  display: none;
}
.hide.mx-icon-clear {
  display: none;
}
.hide.mx-input-wrapper {
  border-style: none;
}
.hide.mx-input {
  border: none;
  background-color: rgba(255, 0, 0, 0);
  box-shadow: none;
}