@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px !important;
}

body {
  @apply bg-slate-100;
}

.container-title-line {
  @apply relative 
  before:absolute
  before:content-['.']
  before:w-full
  before:text-white
  before:h-1
  before:bg-black
  before:z-0
  before:top-1/2 before:left-1/2 before:transform before:-translate-x-1/2 before:-translate-y-1/2;
}

.variant-slate.container-title-line {
  @apply relative 
  before:bg-slate-700 
}
.variant-green.container-title-line {
  @apply relative 
  before:bg-green-700 
}
.variant-sky.container-title-line {
  @apply relative 
  before:bg-sky-900 
}
.variant-stone.container-title-line {
  @apply relative 
  before:bg-stone-700 
}
.variant-indigo.container-title-line {
  @apply relative 
  before:bg-indigo-700 
}
.variant-sky-500.container-title-line {
  @apply relative 
  before:bg-sky-500 
}
.container-title-input {
    @apply text-center text-2xl font-semibold bg-white;
}

.b-template-details-w {
 width: 12rem;
}
.b-template-description-w {
 width: calc(100% - 10rem);
}

.action-hide .action{
  @apply hidden;
}

.duplicator-action-position {
  bottom: -2.0rem;
  left: 0;
}

.element-actions {
  bottom: -2.5rem;
}

.date-picker--popup {
  @apply flex justify-center w-96 absolute top-1/2 left-[80%] transform -translate-x-1/2 -translate-y-1/2 border-2 border-primary bg-white z-10 ml-4;
}

.resume-item--actions {
  @apply opacity-0 absolute right-0 z-10 transition-opacity
}

.resume-card:hover > .resume-item--actions {
  @apply block opacity-100
}

.btn-remove-item {
  @appl
}